@media (max-width: 1400px) {
  .container {
    padding-top: 20px;
    max-width: 690px;
  }
  .header {
    max-width: 690px;
    padding: 0 20px;
    z-index: 3;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    left: auto;
    right: 0;
  }
  .header__logo img {
    width: 140px;
  }
  .header__wrap {
    flex-direction: column;
    row-gap: 40px;
    padding-top: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    float: right;
    padding-top: 0;
  }
  .header__ul {
    padding: 20px;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(17, 17, 17, 0.8470588235);
    z-index: 10;
    height: 380px;
    row-gap: 12px;
    justify-content: start;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.8) inset;
    opacity: 0%;
    display: none;
    transition: 0.6s;
  }
  .header__li {
    width: 210px;
    margin: 0 auto;
  }
  .main {
    position: relative;
    max-width: 690px;
    padding: 0 20px;
    margin: 0 auto;
    min-height: 380px;
  }
  .main__navBtn {
    display: block;
    position: absolute;
    left: 50%;
    top: 40px;
    transform: translateX(-50%);
    background: rgba(17, 17, 17, 0.9058823529);
    transition: 0.3s;
    color: #fff;
    z-index: 8;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    width: 40px;
    height: 40px;
  }
  .main__navBtn_span {
    display: block;
    height: 2px;
    width: 20px;
    margin: 0 auto;
    background: #FFF;
  }
  .main__navBtn_span::before, .main__navBtn_span::after {
    display: block;
    position: absolute;
    content: "";
    height: 2px;
    width: 20px;
    background: #FFF;
  }
  .main__navBtn_span::after {
    bottom: 12px;
  }
  .main__navBtn_span::before {
    top: 12px;
  }
  .main__navBtn:hover, .main__navBtn:focus {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8) inset;
  }
  .main__grid {
    grid-template-columns: -webkit-fit-content;
    grid-template-columns: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    row-gap: 0;
    padding: 0;
    z-index: 2;
  }
  .main__grid_link {
    font-size: 42px;
    line-height: 80px;
  }
  .main__grid_item-1, .main__grid_item-2, .main__grid_item-3 {
    grid-column-start: 1;
  }
  .card {
    margin: 0 auto;
  }
  .card__inner {
    max-width: 690px;
  }
  .card__inner_img {
    width: 290px;
    margin: 0 auto 20px auto;
  }
  .card__title {
    margin-bottom: 40px;
  }
  .galary__slide {
    align-content: center;
    display: flex;
  }
  .galary__content {
    width: 690px;
    height: auto;
  }
  .bio {
    margin: 0 auto;
  }
  .bio__title {
    margin-bottom: 20px;
  }
  .bio__flex {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .bio__mainPhoto {
    width: 300px;
    margin-bottom: 10px;
  }
  .bio__text {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 10px;
  }
  .bio__name, .bio__item_name {
    font-size: 22px;
  }
  .bio__position, .bio__item_position {
    font-size: 18px;
  }
  .footer {
    padding-bottom: 0;
  }
  .footer__container {
    padding-top: 20px;
    max-width: 690px;
  }
  .footer__grid {
    grid-gap: 20px;
    margin: 0 auto;
    margin-bottom: 40px;
    grid-template-columns: 1fr 1fr;
  }
  .footer__logo {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 150px;
  }
  .footer__link {
    font-size: 16px;
  }
  .footer__column-3, .footer__column-4 {
    grid-row-start: 2;
  }
  .footer__btn {
    bottom: -60px;
  }
}
@media (max-width: 700px) {
  .container {
    max-width: 315px;
  }
  .header {
    max-width: 320px;
  }
  .header__logo img {
    width: 120px;
  }
  .header__logo {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .header__phone {
    font-size: 16px;
    position: absolute;
    top: 300px;
  }
  .header__nav {
    width: 320px;
  }
  .header__wrap {
    width: 100%;
  }
  .main {
    max-width: 320px;
  }
  .main__video {
    display: none;
  }
  .main__navBtn {
    right: 0;
    left: auto;
    top: 20px;
  }
  .main__grid {
    margin: 0 auto;
    padding-top: 80px;
  }
  .main__grid_link {
    font-size: 20px;
    line-height: 40px;
  }
  .about {
    margin: 0 auto;
  }
  .about__title {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 20px;
    font-weight: 600;
  }
  .card__title {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 20px;
    font-weight: 600;
  }
  .card__inner {
    max-width: 690px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  .card__inner_item {
    text-align: center;
  }
  .card__inner_subtitle {
    margin-bottom: 20px;
  }
  .galary__content {
    width: 320px;
  }
  .galary__arrows {
    width: 20px;
  }
  .bio__flex {
    flex-direction: column;
  }
  .bio__carousel_wrap {
    transform: translateX(20px);
  }
  .bio__left {
    margin-bottom: 20px;
  }
  .partners {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  ._brandItem {
    height: 80px;
  }
  .contacts__title {
    margin-bottom: 80px;
  }
  .contacts__btn {
    bottom: auto;
    top: 80px;
  }
  .footer__grid {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .footer__column-1 {
    grid-row-start: 4;
  }
  .footer__column-2 {
    grid-row-start: 1;
  }
  .footer__column-3 {
    grid-row-start: 2;
  }
  .footer__column-4 {
    grid-row-start: 3;
  }
  .footer__logo {
    position: relative;
    top: auto;
    left: auto;
    margin-bottom: 10px;
  }
  .footer__contact {
    justify-content: center;
  }
  .footer__btn {
    bottom: -200px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 262px;
    max-height: 70px;
  }
}/*# sourceMappingURL=adaptive.css.map */